<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <title>Founder Hub</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="/style/style.css" />
  <body>
    <%- include('./partials/header') %>
    <div id="table-container">
      <table>
        <caption>Registered Businesses</caption>
        <thead>
          <th scope="col">Business Name</th>
          <th scope="col">Foundation Year</th>
          <th scope="col">Industry</th>
          <th scope="col">Starting Capital</th>
          <th scope="col">Headquarters</th>
          <th scope="col">Action</th>
        </thead>
        <tbody>
            <% rows.forEach(row => { %>
            <tr>
              <th scope="row">
                <%= row.business_name %>
              </th>
              <td>
                <%= row.foundation_year %>
              </td>
              <td>
                <%= row.industry %>
              </td>
              <td>
                $
                <%= row.starting_capital %>
              </td>
              <td>
                <%= row.headquarters %>
              </td>
              <td>
                <a style="font-weight: bold; color: green" href="id/<%= row.entrepreneur_id %>">View</a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
