<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <title>Founder Hub</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="/style/style.css" />
  <script>
    // Prompts user for password to delete row from table. 
    document.addEventListener('click', (e) => {
      if (!e.target.classList.contains('delete-btn')) return;

      const form = e.target.closest('.del-form');
      const pass = prompt('Enter admin password to delete this data.');

      if (!pass) return; // user cancelled

      form.querySelector('[name="pass"]').value = pass;
      form.submit();
    });
</script>
  <body>
    <%- include('./partials/header') %>
    <div id="table-container">
      <table>
        <caption>Entrepreneur Information</caption>
        <thead>
          <th scope="col">Name</th>
          <th scope="col">Business</th>
          <th scope="col">role</th>
          <th scope="col">Nationality</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Net Worth(USD Billion)</th>
          <th scope="col">Action</th>
        </thead>
        <tbody>
            <% rows.forEach(row => { %>
            <tr class="person-row">
              <th scope="row">
                <%= row.name %>
              </th>
              <th >
                <%= row.business_name %>
              </th>
              <td>
                <%= row.role %>
              </td>
              <td>
                <%= row.nationality%>
              </td>
              <td>
                <%= row.date_of_birth %>
              </td>
              <td>
                <%= row.net_worth %>
              </td>
              <td>
                <button class="edit-btn">Edit</button>
                <form class="del-form" action="<%= id %>/delete" method="post">
                  <input type="hidden" name="pass" />
                  <button type="button" class="delete-btn">Delete</button>
                </form>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
