<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <title>Founder Hub</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="/style/style.css" />
  <body>
    <%- include('./partials/header') %>
    <div id="table-container">
      <table>
        <caption>Entrepreneur Information</caption>
        <thead>
          <th scope="col">Name</th>
          <th scope="col">Business</th>
          <th scope="col">role</th>
          <th scope="col">Nationality</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Net Worth(USD Billion)</th>
        </thead>
        <tbody>
            <% rows.forEach(row => { %>
            <tr>
              <th scope="row">
                <%= row.name %>
              </th>
              <th >
                <%= row.business_name %>
              </th>
              <td>
                <%= row.role %>
              </td>
              <td>
                <%= row.nationality%>
              </td>
              <td>
                <%= row.date_of_birth %>
              </td>
              <td>
                <%= row.net_worth %>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
