<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <title>Founder Hub</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="/style/style.css" />
  <body>
    <%- include('./partials/header') %>
    <div id="table-container">
      <table>
        <caption>Business Roles & Relationships</caption>
        <thead>
          <th scope="col">Name</th>
          <th scope="col">Business name</th>
          <th scope="col">Role</th>
          <th scope="col">Action</th>
        </thead>
        <tbody>
            <% rows.forEach(row => { %>
            <tr>
              <th scope="row">
                <%= row.name %>
              </th>
              <td >
                <%= row.business_name %>
              </td>
              <td>
                <%= row.role %>
              </td>
              <td>
                <a class="add-btn" href="id/<%= row.id %>">View</a>
              </td>
            </tr>
          <% }); %>
        </tbody>
        <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td style="text-align: left">
            <a class="add-btn" href="/">Add</a>
          </td>
        </tr>
      </tfoot>
      </table>
    </div>
  </body>
</html>
